/* tables.css */



.common-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 2rem;
  border: 2px solid #f0f0f0;
}

.common-table input[type="text"],
.common-table select,
.common-table textarea {
  border-radius: 5px;
  border: 1px solid #8d8d8d;
  font-family: Arial, Helvetica, sans-serif;
}

.common-table th,
.common-table td {
  border: 1px solid #f0f0f0;
  padding: 15px;
  text-align: left;
}

.environment-table th {
  background-color: #4CAF50;
  color: #fff;
}

.social-table th {
  background-color: #ec9005;
  color: #fff;
}

.finance-table th {
  background-color: #0345fa;
  color: #fff;
}

.common-table col:nth-child(1) {
  width: 30%;
}
.common-table col:nth-child(2) {
  width: 10%;
}
.common-table col:nth-child(3) {
  width: 49%;
}

.finance-table col:nth-child(1) {
  width: 30%;
}
.finance-table col:nth-child(2) {
  width: 10%;
}
.finance-table col:nth-child(3) {
  width: 49%;
}

/* Alustussivun kentät – vain font-family */
.initial-page input[type="text"],
.initial-page select,
.initial-page textarea {
  border-radius: 5px;
  border: 1px solid #8d8d8d;
  font-family: Arial, Helvetica, sans-serif;
}

.extended-input {
  width: 90%;
}
