/* tables.css */

/* Yleiset taulukon tyylit */
.common-table {
  width: 100%;
  /* Vaihdetaan collapse -> separate */
  border-collapse: separate;
  /* Poistetaan ylimääräinen väli, joka syntyy separate-asetuksella */
  border-spacing: 0;
  /* Pyöristetään reunat */
  border-radius: 20px;
  /* Pakotetaan pyöristys näkymään myös taulukon reunoilla */
  overflow: hidden;
  margin-bottom: 2rem;
  /* Lisätään (tai siirretään) reunaviiva taulukon ulkoreunaan */
  border: 2px solid #f0f0f0;
}

.common-table input[type="text"],
.common-table select,
.common-table textarea {
  border-radius: 5px; /* Säädä arvoa haluamasi pyöristyksen mukaan */
  border: 1px solid #8d8d8d;
}


/* Taulukon solujen tyylit */
.common-table th,
.common-table td {
  border: 1px solid #f0f0f0;
  padding: 15px;
  text-align: left;
}

/* Otsikkosolujen tausta */
.common-table th {
  background-color: #007BFF; /* Korvaa haluamallasi sinisen sävyllä */
  color: #fff;  
}

/* Määritellään sarakkeiden leveydet kaikissa taulukoissa.
   Esimerkiksi 4 saraketta: ensimmäinen 30%, toinen 20%, kolmas 25%, neljäs 25%.
   Voit muokata näitä prosentteja tarpeen mukaan, kunhan kaikissa taulukoissa on sama määrittely. */
   .common-table col:nth-child(1) {
    width: 30%;  /* Otsikon sarake */
  }
  .common-table col:nth-child(2) {
    width: 15%;  /* Uusin tulos, supistettu puoleen (esim. 20 % -> 10 %) */
  }
  .common-table col:nth-child(3) {
    width: 30%;  /* Kuvaus */
  }
  .common-table col:nth-child(4) {
    width: 25%;  /* Tavoite ja aikataulu */
  }

  /* Tyyli, joka kohdistuu kaikkiin input-, select- ja textarea-kenttiin etusivulla */
.initial-page input[type="text"],
.initial-page select,
.initial-page textarea {
  border-radius: 5px;
  border: 1px solid #8d8d8d;
}

.extended-input {
  width: 90%;   /* tai 100%, tai jokin kiinteä pikseliarvo */
}
